html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
}

.mathi {
  min-height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  letter-spacing: clamp(2px, 2vw, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.mathi .text-individual {
  font-size: clamp(8vw, 20vw, 25vw);
  font-weight: 800;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .mathi .text-individual {
    font-size: 16vw;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  .mathi {
    letter-spacing: 16px;
  }

  .mathi .text-individual {
    font-size: 14vw;
    font-weight: 500;
  }
}

@media screen and (max-width: 640px) {
  .mathi {
    letter-spacing: 10px;
  }

  .mathi .text-individual {
    font-size: 12vw;
    font-weight: 400;
  }
}

@media screen and (max-width: 480px) {
  .mathi {
    letter-spacing: 8px;
  }

  .mathi .text-individual {
    font-size: 11vw;
    font-weight: lighter;
  }
}
