.hamburger,
.logo {
  cursor: url(/src/assets/grab.svg) 15 15, move;
}

.hamburger img:active {
  scale: 0.95;
}

.gayab {
  scale: 0;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 620px) {
}
