.hamburger,
.logo {
  cursor: url(/src/assets/grab.svg) 15 15, move;
}

.hamburger img:active {
  scale: 0.95;
}

.gayab {
  scale: 0;
  transition: all 0.3s ease-in-out;
  top: 70px;
  height: calc(100vh - 70px);
}

nav {
  height: 70px;
}

@media screen and (max-width: 744px) {
  nav {
    height: 60px;
  }

  .gayab {
    top: 60px;
    height: calc(100dvh - 60px);
  }

  nav .logo img {
    height: 55px;
    width: 55px;
  }

  nav .hamburger img {
    height: 34px;
    width: 34px;
  }
}

@media screen and (max-width: 460px) {
  .gayab {
    top: 50px;
    height: calc(100vh - 50px);
  }

  nav .logo img {
    height: 45px;
    width: 45px;
  }

  nav .hamburger img {
    height: 28px;
    width: 28px;
  }
}
