.page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050810;
}

.page-container .content {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-container .slide-panel {
  display: flex;
  align-items: center;
  width: 30em;
  height: 25em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.page-container .prev,
.page-container .next {
  width: 2em;
  height: 2em;
  cursor: url("../../assets/grab.svg") 15 15, move;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.25s;
}

.page-container .prev:hover,
.page-container .next:hover {
  transform: scale(1.25);
}

.page-container .prev {
  filter: invert(1);
  background-image: url("../../assets/images/prev.png");
}

.page-container .next {
  background-image: url("../../assets/images/next.png");
}

.page-container a {
  scroll-snap-align: start;
  min-width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container img {
  width: 100%; /* Ensures full width */
  height: auto;
  border-radius: 0.2em;
  object-fit: cover; /* Keeps images properly scaled */
  margin: 0; /* Remove gaps */
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 980px) {
  .page-container .prev,
  .page-container .next {
    display: none;
  }
}

.projects {
  box-shadow: 0px 0px 4px 1px #14e958;
  cursor: url(/src/assets/grab.svg) 15 15, move;
  transition: all 0.1s ease-in-out;
}
.projects:hover {
  box-shadow: 0px 0px 20px 4px #14e958;
}
