.tools {
  box-shadow: 0px 0px 4px 1px #14e958;
  cursor: url(/src/assets/grab.svg) 15 15, move;
  transition: all 0.1s ease-in-out;
}
.tools:hover {
  box-shadow: 0px 0px 20px 4px #14e958;
}

.iconsForTools {
  box-shadow: 0px 0px 4px 1px #14e958;
}

.naam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1/4;
  gap: 10px;
  height: 80px;
  width: 280px;
  background-color: #021709;
  border-radius: 20px;
  letter-spacing: 2px;
  cursor: url(/src/assets/grab.svg) 15 15, move;
}

.dotnet img {
  width: 60px;
}

.tools {
  letter-spacing: 2px;
}

@media screen and (max-width: 760px) {
  .naam {
    height: 60px;
    width: 100px;
  }
  .naam h1 {
    display: none;
  }
}

@media screen and (max-width: 744px) {
  .toolSection {
    height: calc(100dvh - 60px);
  }
}
